* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.external {
    background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 22%;
    height: 400px;
    background-color: white;
    text-align: center;
}
img{
   
    
    width: 90%;
    height: 340px;
}